<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="public-artifactory" value="https://artifactory.intra.infineon.com/artifactory/api/nuget/v3/ngt-nuget-org" />
    <add key="pads-artifactory" value="https://artifactory.intra.infineon.com/artifactory/api/nuget/v3/ngt-other-pads-local" />
    
    <!-- Only needed for Infineon internal packages, e.g., Monin -->
    <!-- <add key="ifx-global-store" value="https://artifactory.intra.infineon.com/artifactory/api/nuget/v3/ngt-fi-package-main-vir" /> -->
    
    <!-- <add key="local" value="%TEMP%/nugets" /> -->
  </packageSources>
</configuration>